body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.logo img {
    width: 150px;
    border-radius: 50%;
}

#navigation {
    width: 50%;
}

#navigation ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    list-style: none;
}

#navigation ul li a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    color: #000;
}

#navigation ul li a:hover {
    background-color: #000;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}

#breadcrumbs {
    height: 28px;
    border: 2px solid #000;
    border-left: none;
    border-right: none;
    padding: 10px;
}