body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.logo img {
    width: 150px;
    border-radius: 50%;
}

#navigation {
    width: 50%;
}

#navigation ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    list-style: none;
}

#navigation ul li a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    color: #000;
}

#navigation ul li a:hover {
    background-color: #000;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}

#breadcrumbs {
    height: 28px;
    border: 2px solid #000;
    border-left: none;
    border-right: none;
    padding: 10px;
}

#breadcrumbs a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.1em;
}

#breadcrumbs::after {
    content: " > ";
} 



.main_content {
    display: flex;
    border: 1px solid #000;
}

aside {
    border-right: 1px solid #000;
}

.aside-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.aside-image img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.content h1 {
    font-size: 1.8em;
    font-weight: 800;
    text-transform: capitalize;
}

.content p {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: .5px;
}

footer {
    padding: 10px;
}

footer span {
    font-weight: 400;
    font-size: 1.1em;
}

footer span a {
    text-decoration: none;
}

.container-discography {
    display: flex;
    justify-content: space-between;
}

.container-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    margin: 10px;
    padding: 15px;
}

.album-img img {
    width: 300px;
    height: 300px;
}